body{
    overflow-x: hidden !important;
  }
  
  section{
    overflow-x: hidden;
  }
  
  .col-xs-12{
      padding-left: 0px;
      padding-right: 0px;
  }
  
  /*FIXED NAVBAR*/
  #header{
      position: fixed;
    width: 100%;
      height:50px;
      z-index: 4;
  }
  
  #logoName{
    text-decoration: none;
    color: black;
    font-family: 'Yantramanav', cursive;
    font-weight: 900;
    display: inline;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
  }
  
  #logoK{
    text-decoration: none;
    color: black;
    font-family: 'Yantramanav', cursive;
    font-weight: 100;
    display: inline;
    font-size: 20px;
  }
  
  nav{
    position: fixed;
    width: 100%;
  }
  
  span{
    background-color: black;
  }
  
  .nav a{
    color: black;
    font-size:20px;
  }
  
  #nav a:hover{
    color: cornflowerblue;
  }
  
  div .collapse .navbar-collapse .nav-collapse{
    width: 100%;
    background-color:rgba(0,0,0,0.7);
  }
  
  ul{
    font-family: 'Yantramanav', cursive;
    font-weight: 100;
  }
  
  .displayLogoName{
    display: all;
    background-color: blue;
  }
  
  .displayLogoK{
    display: all;
  }
  
  /*LANDING*/
  #landing{
    overflow: hidden;
    min-height: 100vh;
  }
  
  #landingText{
      text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* background-image: url(https://66.media.tumblr.com/16140cf381f432717e31f16edc0bf88e/tumblr_nbunloRTPk1rk0k2jo1_500.gif); */
    /* /* background-image: url(http://37.media.tumblr.com/776ce70362dc3ba9849a8dc298774527/tumblr_n0gopa2TBK1toamj8o1_500.gif); */
    /* background-image: url(https://66.media.tumblr.com/ef8cb843f59ef5d012d77ec4718b35ab/tumblr_njumaehLfX1u7gnm9o1_400.gif); */
    /* background-image: url(https://64.media.tumblr.com/bd1d1348b2c141bde85844641b2624e5/tumblr_pahopa5xTk1uag7foo1_400.gifv) ; */
    background-image: url(https://66.media.tumblr.com/16140cf381f432717e31f16edc0bf88e/tumblr_nbunloRTPk1rk0k2jo1_500.gif);
  }
  
  .name{
    /* font-size: 10em; */
    /* font-size: 175px; */
    font-size: 10vw;
    margin-top: 20px;
    font-family: 'Yantramanav', sans-serif;
    letter-spacing: 30px;
    font-weight: 900;
  }
  
  #titles{
      font-size: 45px;
      font-family: 'Yantramanav' sans-serif;
      font-weight: 100;
    color: black !important;
  }
  

  /*BIO*/
  #bio{
    min-height: 100vh;
  }
  
  #bioRow{
    background-color:#f1f1ee;
    margin-top: 5%;
    -webkit-animation: backgroundColor 10s linear infinite;
    -moz-animation: backgroundColor 10s linear infinite;
    animation: backgroundColor 10s linear infinite;
  }
  
  @-webkit-keyframes backgroundColor
  {
     0%   {background: white; }
      20% {background: whitesmoke; }
      40% {background: gainsboro; }
      60% {background: gainsboro; }
      80% {background: whitesmoke; }
      100% {background: white; }
  }
  
  @-moz-keyframes backgroundColor
  {
     0%   {background: white; }
      20% {background: whitesmoke; }
      40% {background: gainsboro; }
      60% {background: gainsboro; }
      80% {background: whitesmoke; }
      100% {background: white; }
  }
  
  @keyframes backgroundColor
  {
     0%   {background: white; }
      20% {background: whitesmoke; }
      40% {background: gainsboro; }
      60% {background: gainsboro; }
      80% {background: whitesmoke; }
      100% {background: white; }
  }
  
  /*BIO TEXT*/
  #bioText{
      padding-left: 2%;
      padding-right: 2%;
      margin-top: 6%;
      margin-bottom: 50px;
  }
  
  #bioHeader{
      font-size: 40px;
      font-family: 'Yantramanav', cursive;
    font-weight: 900;
      margin-bottom: 10px;
    margin-right: 30px;
      text-align: right;
    color: black
  }
  
  #bioLine{
    margin-bottom: 30px;
    border: 2px solid black;
    width: 60%;
  }
  
  #bioPara{
      font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
      font-size: 20px;
    color: #777777
  }
  


  /*BIO ICONS*/
  #bioIcons img{
      width: 64px;
      height: 64px;
      margin-top: 50px;
  }
  
  /*BIO PIC*/
  #bioPic{
    z-index: 2;
    padding-left: 240px;
    padding-top: 150px;
  }

  /*SKILLS*/
  #skills{
    min-height: 100vh;
  }
  
  .skillsRow{
    margin-top: 100px;
  }
  
  #skillsHeader{
    margin-top: 25px;
    text-align: right;
    font-size: 40px;
    color: black;
    font-family: 'Yantramanav', cursive;
    font-weight: 900;
  }
  
  #skillsLine{
    width: 92%;
    margin-right:15px;
    margin-top:0;
  } 
  
  #skillsHeader p{
    margin-bottom: 0px;
    margin-right: 115px;
  }
  
  #skillIcons{
    margin-top: 25px;
  }
  
  figcaption{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  
  /*PORTFOLIO*/
  #portfolio{
    min-height: 100vh;
  }
  
  #workContainer{
    height: 50vh;
    margin-top: 10px;
  }
  
  #portfolioRow{
    margin-top: 100px;
  }
  
  #portfolioHeader{
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Yantramanav', cursive;
    font-weight: 900;
    margin-top: 50px;
  }
  
  #portfolioLine{
  width: 50%;
  margin-top:0;
  margin-bottom: 45px;
  }
  
  .image-hover-text{
    position: absolute;
    top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    cursor: default;
    transition: opacity 0.5s linear;
    margin-top: 25px;
  }
  
  .image-hover-text p{
    width: 466px;
    height: 330px;
    padding-top: 20%;
    font-family: 'Yantramanav', cursive;
    font-weight: 100;
  }
  
  .image-hover-text:hover{
    opacity: 1;
  }
  
  .image-hover-text-bubble{
    position: relative;
    box-sizing: border-box;
    top: 0; left: 0; right: 0;
    height:332px;
    width:468px;
    margin-left: 100px;
    text-align: center;
    border-radius: 1%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
  }
  
  /*PORT PIECE 1*/
  #pongContainer{
    display: block;
    transition: all 0.2s linear;
    width: 100%;
  }
  
  #pongImg{
   display: block;
  }
  
  #pongImg img{
    border-radius: 1%;
  }
  
  #pongContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #pongContainer p{
    color: white;
    background: goldenrod;
    text-align: center;
  }
  
  .portOne{
   background: black;
  }
  
  /*Todo List*/
  #todoListContainer{
    display: block;
    transition: all 0.2s linear;
    width: 100%;
  }
  
  #todoListImg{
    display: block;
  }
  
  #todoListImg img{
    border-radius: 1%;
  }
  
  #todoListContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #todoListContainer p{
    color: white;
    background: pink;
    text-align: center;
  }
  
  .portTodoList{
    background-color: pink;
  }
  
  /*RGB GAME & LIFTOFF*/
  
  #rgbGameContainer{
    display: block;
    transition: all 0.2s linear;
    width: 100%;
  }
  
  #rgbGameImg{
   display: block;
  }
  
  #rgbGameImg img{
    border-radius: 1%;
  }
  
  #rgbGameContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #rgbGameContainer p{
    color: white;
    background: steelblue;
    text-align: center;
  }
  
  
  /*PATATAP*/
  
  #patatapContainer{
    display: block;
    transition: all 0.2s linear;
    width: 100%;
  }
  
  #patatapImg{
   display: block;
  }
  
  #patatapImg img{
    border-radius: 1%;
  }
  
  #patatapContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #patatapContainer p{
    color: white;
    background: red;
    text-align: center;
  }
  
  


  /*LIFTOFF*/
  #liftoffContainer{
    display: inline-block;
    width: 100%;
    transition: all 0.2s linear;
  }
  
  #liftoffImg{
   display: block;
  }
  
  #liftoffImg img{
    border-radius: 1%;
  }
  
  #liftoffContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #liftoffContainer p{
    color: white;
     background-color: #033048;
     text-align: center;
  
  }
  
  .portTwo{
    background-color: black;
  }





  /*SPOT THE DOT*/
  #spotDotContainer {
    display: inline-block;
    width: 100%;
    transition: all 0.2s linear;
  }
  
  #spotDotImg {
   display: block;
  }
  
  #spotDotImg img{
    border-radius: 1%;
  }
  
  #spotDotContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #spotDotContainer p{
    color: white;
    background: teal;
    text-align: center;
  }
  .portThree{
    background-color: black; 
  }




  
  /*GitHub Web*/
  
  #githubWebContainer{
    display: inline-block;
    width: 100%;
    transition: all 0.2s linear;
  }
  
  #githubWebImg{
   display: block;
  }
  
  #githubWebImg img{
    border-radius: 1%;
  }
  
  #githubWebContainer a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }
  
  #githubWebContainer p{
    color: white;
    background: gray;
    text-align: center;
  }
  
  .portgithubWeb{
    background-color: black;
  }
  
  
  /*PORT IMAGES*/
  
  #pongImg img, #todoListImg img, #rgbGameImg img, #patatapImg img, #startupMatchImg img, #spotDotImg img, #liftoffImg img, #githubWeb{
    height:333px;
    width:468px;
    margin-top: 25px;
  }
  

  /*CONTACT*/
  #contact{
    min-height: 100vh;
  }
  
  #contactHeader{
    text-align: left;
    font-size: 40px;
    color: black;
    font-family: 'Yantramanav', cursive;
    font-weight: 900;
    margin-top: 130px;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  
  #contactLine{
    margin-right: 20%;
    width: 85%;
  }
  
  #phoneIcon img, #emailIcon img, #locationIcon img{
    height: 80px;
    width: 80px;
  }
  
  
  #phoneIcon figcaption, #emailIcon figcaption, #locationIcon figcaption{
  font-size: 25px;
  margin-bottom: 125px;
  margin-top: 15px;
  }
  
  footer{
    width: 100%;
    background-color: #333333;
    clear: both;
    text-align: center;
    height: 200px;
    position: relative;
  }
  
  #footerPara1{
    color: white;
    font-size: 25px;
    padding-top: 45px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
  }
  
  #footerPara2{
    color: white;
    font-size: 25px;
    padding-top: 15px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
  }
  